.hero h1 {
color: #FFFFFF;
    text-align: center;
}
.hero {
    letter-spacing: 0.02em;
    background-color: #2E2F42;
}
.button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.button:hover, .button:focus {
    background-color: #404BBF;
}
